<!DOCTYPE html>
<html>
  <head>
    <title>If you're feeling...</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1>If you're feeling...</h1>
    
    <form action='/results' method = "post">
      <input type="radio" name="emotion" value="destructive"> destructive
      <br>
      <input type="radio" name="emotion" value="procrastinatory"> procrastinatory
      <br>
      <input type="radio" name="emotion" value="tense">tense
      <br>
      <input type="radio" name="emotion" value="disgruntled">disgruntled
      <br>
      <input type="radio" name="emotion" value="helpful">helpful
      <br>
      <input type="radio" name="emotion" value="bored">bored
      <br>
      <input type="radio" name="emotion" value="artsy">artsy
      <br>
      <input type="radio" name="emotion" value="musical">musical
      <br>  
      <input type="radio" name="emotion" value="troubled">troubled
      <br>
      <input type="radio" name="emotion" value="lonely">lonely
      <br>
      <input type="radio" name="emotion" value="hungry">hungry
      <br>
      <input type="radio" name="emotion" value="fat">fat
      <br>
      <input type="radio" name="emotion" value="crafty">crafty
      <br>
      <input type="submit" value="Submit">
    </form>

  </body>

</html>


